.price__item {
    padding: 14px 24px;
    border-bottom: 1px solid #e1e1e3;
    display: flex;
}
.price__value-wrapper {
    display: flex;
    align-items: center;
}
.price__category-description {
    font-size: 14px;
    margin-top: 8px;
}
@media (min-width: 768px) {
    .price__value-wrapper {
        justify-content: flex-end;
    }
}
.price__value {
    color: #39cac6;
    font-weight: bold;
    font-size: 24px;
}
.price__item-link {
    color: #3b3b3b;
    font-size: 16px;
}
.price__item-link:hover {
    color: #000;
}
.price__list-wrapper {
    margin-bottom: 50px;
}
.price__item-series {
    color: #b6b5b5;
    font-size: 14px;
}