/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

@font-face {
    font-family: "Stem";
    src: url("../fonts/stem.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Stem";
    src: url("../fonts/stem-bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Stem-medium";
    src: url("../fonts/stem-medium.otf") format("opentype");
}
@font-face {
    font-family: "Stem-extra-light";
    src: url("../fonts/stem-extra-light.otf") format("opentype");
}

.fancybox-title, body, body .ymaps-map .ymaps-b-balloon, body div.bx-yandex-map {
    font: 15px/25px "Stem", Montserrat, Arial, sans-serif;
}
.drag-block.container .content_wrapper_block, .drag-block.container>div[id*=bx_incl]>.content_wrapper_block {
    border-bottom: 1px solid #e3e6e8;
}
.stickers .sticker_hit, .stickers .sticker_khit {
    background-color: #ff7d52;
}
footer .footer-inner, footer .social-icons ul {
    background: #575a5c;
}
body {
    color: #575a5c;
}
a:hover, .link:hover, .header_wrap .top-h-row .menu li > a:hover, .top-h-row .menu li.current > a, .phones .phone_wrap a, .phones .order_wrap_btn:hover, .avtorization-call.enter, .main-nav ul.menu > li > a, ul.mini-menu li a, body .main-nav .menu > li.current > a, .white #header .catalog_menu ul.menu > li a, ul.menu .child li.menu_title a, ul.menu .child li.menu_item a:hover, #header .catalog_menu ul.menu > li > a, #header .catalog_menu ul.menu > li.current > a, .wrapper.has_menu .white #header .catalog_menu ul.menu > li:hover > a, body .white #header ul.menu li .child.submenu .child_wrapp a:hover, body .wrapper.has_menu #header ul.menu li .child.submenu .child_wrapp a:not(.title):hover, ul.menu li .depth3 a.title:hover, #header .wrapper_middle_menu .menu > li .child.submenu .child_wrapp a.current:not(.title), #header .menu > li .child_wrapp a.current:not(.title), body #header ul.menu li .child.submenu.line .child_wrapp > a, .search_middle_block .middle_form .noborder, .basket_wrapp .wraps_icon_block .count a, .basket_wrapp .wraps_icon_block .count .text, .basket_wrapp .basket_block .title, .cost.prices .price, .sale_block .text, .sale_block .value, .news .item .info .date, .stores .stores_list .item a:hover span, .footer_top .sblock .wrap_more_text, .footer_top .sblock .wrap_more_text div, .footer_bottom .submenu_top .menu_item a, .img_block_capcha .reload:hover, .form-control .forgot:hover, .basket_fly .basket_title, .basket_sort ul.tabs li.cur span, .basket_sort ul.tabs li:hover .wrap_li > span, .basket_sort ul.tabs li:hover .wrap_li > span *, .module-cart .name-cell a:hover, .basket_sort ul.tabs li.cur .wrap_li > span, .basket_sort ul.tabs li.cur .wrap_li > span *, .basket_sort ul.tabs li .wrap_li > span *, .section_item_inner .section_info ul li a:hover, .bx_filter .bx_filter_popup_result a, .catalog_item:hover .item-title a, .item-title a:not(.dark-color):hover, li.item:hover a, .item_wrap:hover .item-title a, .view_sale_block .values, .more_text_ajax:hover, .bx_compare .compare_view .item_block:hover a, .item-stock .store_link:hover, .item .date_small, .articles-list.news .item:hover .item-title a, .jobs_wrapp .item .name tr:hover .link, .basket_wrapp .empty_cart:not(.bcart) .wraps_icon_block .count span a, .basket_wrapp .basket_empty .wraps_icon_block.basket .count span {
    color: #3b3b3b;
}
.item-views.float_banners2 .item .previewtext {
    max-height: unset;
}
.item-views.tizers .item-wrapper>.item .image {
    max-height: unset;
}
@media (min-width: 992px)
{
    .item-views.float_banners2 .item .lazy, .item-views.float_banners2 .item .lazyloaded
    {
        width: 100%;
        margin-left: unset;
    }
}
.front-block {
    padding-top: 45px;
    padding-bottom: 45px;
}
.front-block_centered {
    text-align: center;
}
.front-block__header {
    margin-bottom: 20px;
}
.front-block__text {
    font-size: 18px;
}
.front-block_green {
    background-color: #0abab5;
}
.front-block_green .maxwidth-theme .front-block__header {
    color: #fff;
}
.maxwidth-theme.transparent {
    background: transparent;
}
h3.front-block__header_m_none {
    margin-bottom: 0;
}
.price-tizer__prices {
    display: flex;
    justify-content: center;
    font-size: 20px;
    position: relative;
    margin-bottom: 15px;
}
.price-tizer__price-2:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1px;
    left: -1px;
    border-top: 1px solid;
    width: 100%;
}
.price-tizer__price-1 {
    margin-right: 5px;
    color: #0abab5;
}
.price-tizer__price-2 {
    margin-left: 5px;
    color: #777;
    position: relative;
}
.price-tizer__title {
    margin: 15px 0;
}
.front-block__text_mb_md {
    margin-bottom: 32px;
}
.front-block_green-banner-background  {
    background: url(../images/green-banner.jpeg) center center no-repeat;
    background-size: cover;
}
.front-block_green-banner-content {
    max-width: 560px;
    margin: 0 auto;
    background: #fff;
    padding: 60px;
}
@media (min-width: 992px) {
    .front-block_green-banner-background {
        display: flex;
    }
}
.front-block_green-banner-overlay  {
    padding: 120px 0;
    background-color: rgba(65, 252, 252, 0.4);
    width: 100%;
}
.front-block_green-banner-2-overlay  {
    padding: 120px 0;
    width: 100%;
}
.preim-tizer__img {
    width: 100%;
}
.preim-tizer__title {
    margin-bottom: 10px;
}
.preim-tizer_bg .preim-tizer__content  {
    position: absolute;
    padding: 30px 40px;
    color: #fff;
}
.preim-tizer_bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.overlay-dark {
    background-image: -moz-linear-gradient(top, rgba(255,212,217,0.0), rgba(9,33,43,0.40));
    background-image: -webkit-linear-gradient(top, rgba(255,212,217,0.0), rgba(9,33,43,0.40));
    background-image: -o-linear-gradient(top, rgba(255,212,217,0.0), rgba(9,33,43,0.40));
    background-image: -ms-linear-gradient(top, rgba(255,212,217,0.0), rgba(9,33,43,0.40));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.price-tizer__title_white {
    color: #fff
}
.preim-tizer__content {
    padding: 30px;
}
.front-block_grey_ {
    background: #f9f9fa;
    border-bottom: 1px solid #e3e6e8;
    border-top: 1px solid #e3e6e8;
}
body .maxwidth-theme.pack {
    max-width: 920px;
}
.front-block.front-block_our_product {
    padding-bottom: 0;
}

.front-block_pack {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
}
.front-block_green-banner_2 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
}
.front-block_buy {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
    padding-bottom: 0;
}
.front-block_show-on-map {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
}
.front-block_form {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
}

.front-block_green-banner-2-background  {
    background: url(../images/wash.jpeg) center center no-repeat;
    background-size: cover;
}
.front-block__form-wrapper {
    text-align: left;
}
.front-block__form-wrapper .form_head {
    display: none;
}
.front-block__form-wrapper .form textarea {
    min-height: unset;
    height: auto;
}
.front-block__form-wrapper .form textarea, .front-block__form-wrapper .form input {
    background-color: #edf0f2;
}
.maxwidth-theme.maxwidth-theme_w_md {
    max-width: 920px;
}
.front-form-phone, .front-form-email {
    font-size: 24px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.front-form-additional {
    margin: 25px 0 35px 0;
    padding: 0 25px;
}
.price-download-link {
    margin-right: 15px;
}
.menu-row .mega-menu table td.wide_menu>.wrap>.dropdown-menu ul.menu-wrapper>li {
    display: flex;
    align-items: center;
}
.menu-row .mega-menu table td.wide_menu>.wrap>.dropdown-menu ul.menu-wrapper>li>a {
    padding-bottom: 0!important;
}
.logo-block .logo a {
    display: block;
    margin-top: -4px;
}
.logo-row .logo img, .logo-row .logo svg {
    max-height: 50px;
    max-width: 100%;
}
.logo-row .top-description.addr {
    max-width: 200px;
    color: #0abab5;
    opacity: 1;
    padding-left: 15px;
    position: relative;
    padding-top: 5px;
}
.logo-row .top-description.addr:before {
    content: "";
    height: 35px;
    width: 1px;
    background: #0abab5;
    left: 0;
    display: block;
    position: absolute;
    top: 26px;
}
.paddings .logo-block {
    padding-right: 15px;
}
.logo_and_menu-row {
    background: rgba(255,255,255,0.7);
}
.additional-price-value {
    margin-left: 10px;
    font-weight: bold;
}
.additional-price-label {
    font-size: 0.85rem;
}
.filter-panel__view.controls-view {
    display: none;
}
.filter-panel__view.controls-linecount .controls-hr {
    display: none;
}
.basket-item-block-properties > div:nth-child(1),
.basket-item-block-properties > div:nth-child(2) {
    display: flex!important;
}
.basket-item-block-info .basket-item-block-properties > div:nth-child(1),
.basket-item-block-info .basket-item-block-properties > div:nth-child(2) {
    display: none!important;
}
.basket-item-block-properties .asket-item-property-custom-value {
    margin-left: 10px;
}
.catalog_item_wrapp .footer_button .item_wrapper:nth-child(2) .show_class > span {
    font-size: 0;
    color: transparent;
}
.catalog_item_wrapp .footer_button .item_wrapper:nth-child(2) .show_class > span .sku_mdash {
    margin: 0;
}
.catalog_item_wrapp .footer_button .item_wrapper:nth-child(2) .show_class > span .val {
    font-size: 12px;
    color: #888888;
}
.bx-soa-pp-company[data-id="59"] .bx-soa-pp-delivery-cost {
    display: none!important;
}